.App {
}

.logo {
  height: 110px;
}

.title {
  font-size: 1.5em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #E0E0E0;
  color: white;
  height: 130px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.logo-social-media {
  height: 40px;
  margin-left: 5px;
}

.menu {
  display: flex;
  background-color: #2AB2D8;
  color: white;
  align-items: center;
  padding-left: 24%;
  padding-right: 10%;
  height: 50px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 250px;
  text-decoration:none;
  color: white;
}

.menu-item:hover { 
  background-color: #40badc;
  color: white;
  text-decoration:none;
}

.menu-item-selected {
  display: flex;
  flex-direction: column;
  background-color: #40badc;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 250px;
  text-decoration:none;
  color: white;
}

.arrow-navigate-menu {
  width: 20px;
}

.content {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form {
  flex: 1;
}
.form-group-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label-container {
  display: flex;
  flex-direction: row;  
  width: 20%;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 0px;
  font-weight: bold;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #2AB2D8;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 0.9em;
}

.footer-items {
  margin: 2px;
}

.footer-items-bold {
  margin: 2px;
  font-weight: bold;
}

.submit-button {
  background-color: #2AB2D8;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  background-clip: padding-box;
  border-radius: .25rem;
}
.teste {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}
.button {
  margin: 0px;
}

.date-picker {
  width: 100%;
  height: calc(2.25rem + 2px);
  border-radius: .25rem;
}

.react-date-picker__button {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
}

.decolar-iframe {
  display: flex;
  width: 80%;
  height: 830px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5px;
  margin-top: 20px;
  padding-bottom: 20px;
  border: 0px;
}

.submitted-form {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
}

.sub-title {
  margin-bottom: 30px;
}